{% extends "layouts/base.html" %}

{% block content %}

<div class="container pt100">
  <div style="background: #fff; margin: 0 -12px; padding: 10px">
    <div class="row">
      <div class="col-md-12">
        <img class="img-responsive" src="/static/images/about.png">
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p style="font-size: 15px; font-weight: bold;">您是否遇到以下状况:</p>
        <p>1. 每月都买时尚杂志，但是里面的衣服不是太贵就是买不到，没错！中国的时尚界是一群月薪八千的编辑, 告诉一群月薪五千的读者, 月收入三万的人怎么花钱。</p>
        <p>2. 淘宝常买到与预期不符的商品，但因为怕麻烦而不了了事，没错！您不光浪费了时间还没有节省金钱，我们让您先试再买，眼见为虚，试穿为实。</p>
        <p>3. 忙于工作没时间逛街，偶尔逛一次街却买不到心意的衣服，没错！我们为您挑选出美丽的衣裳和首饰并标注地点，即为您节省时间，又不失逛街砍价的乐趣。</p>
        <p>4. 每天不知道吃什么，在网上看到美食却不知荷包是否足够，没错！我们不但告诉您什么好吃，还告诉您去哪吃，告诉您多少银子。</p>
        <h2 style="color: #9f824a">百挖乐 让您发现身边的美</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div style="margin-top: 20px">
          <p>* 网站暂时功能比较少，先专注于内容，后续会增加用户收藏，商家管理等功能。如果您有什么建议和想法或者想提供内容，可以在下面留言或发送<a style="color: #00b386" href="mailto:talk@baiwale.com">邮件</a>。</p>
        </div>
        <!-- Duoshuo Comment BEGIN -->
        <div class="ds-thread" data-thread-key="baiwale-tiaoqing" data-title="feedback" data-author-key="baiwale"></div>
        <script type="text/javascript">
        var duoshuoQuery = {short_name:"baiwale"};
          (function() {
            var ds = document.createElement('script');
            ds.type = 'text/javascript';ds.async = true;
            ds.src = 'http://static.duoshuo.com/embed.js';
            ds.charset = 'UTF-8';
            (document.getElementsByTagName('head')[0] 
            || document.getElementsByTagName('body')[0]).appendChild(ds);
          })();
          </script>
        <!-- Duoshuo Comment END -->
      </div>
    </div>
  </div>
</div>

{% endblock %}